# Build directories
build/
cmake-build-*/

# Editor backups
*~
*.swp
*.swo
*.bak

# OS-specific files
.DS_Store
Thumbs.db
build_gpp/
*.log

# Local presets
CMakeUserPresets.json
vcpkg/
vcpkg_installed/
lldb_cmds.txt
